
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags{
  margin: 0;
}

.tags::before {
  color: white;
  content: "Software Engineer";
  animation-name: tagline;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes tagline {
  0% {filter: blur(0px)}
  10% {filter: blur(9px)}
  20% {content: "Problem Solver"}
  30% {filter: blur(0px)}
  40% {filter: blur(9px)}
  50% {content: "Web Developer"}
  60% {filter: blur(0px)}
  70% {filter: blur(9px)}     
  80% {content: "Versatile Learner"}
  90% {filter: blur(0px)}
  95% {filter: blur(9px)}
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 2rem 1.5rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  width: 18rem;
  height: 22rem;
  border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid 5px transparent; /* !importanté */
  border-radius: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.card:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -.1rem; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, orange, red, orange);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.postHolder{
  width: 84vw;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30rem;
  border: .5rem solid white;
  border-radius: 2rem;
  padding: 1rem;
}

.buildingBlocks {
  height: fit-content;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  columns: 2;
  margin: 0rem 0 1rem 0;
  justify-content: space-between;
  align-items: center;
  width: 84vw;
}

.content, .doubleContent, .quote, .skillsContainer{
  width: 41vw;
  border: .5rem solid white;
  border-radius: 2rem;
  background: linear-gradient(to right, rgba(22, 214, 57, 0.5), rgba(71, 147, 224, 0.25), rgba(70, 16, 150, 0.5));
  height: fit-content;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  min-height: 12rem;
  display: flex;
  align-items: center; 
}

.quote{
  background: linear-gradient(to left, rgba(22, 214, 57, 0.5), rgba(71, 147, 224, 0.25), rgba(70, 16, 150, 0.5));

}

.skills{
  width: 10rem;
}

.skillsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, rgba(22, 214, 57, 0.5), rgba(71, 147, 224, 0.25), rgba(70, 16, 150, 0.5));
  
}

.skillsLists{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .buildingBlocks {
    flex-flow: column;
    margin: 0 0 1rem 0;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    display: flex;
  }
  .skillsContainer, .skillsLists{
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;

  }

  .postHolder{
    width: 100vw;
    flex-direction: column;
    height: fit-content;
  }

  .main{
    min-height:max-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    box-sizing: border-box;
    
    
  }
  .content, .quote, .sfPic, .primeResume, .skillsContainer{
    width: 100vw;
    margin: 2rem 0 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
